<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome to my hut</title>
    <link rel="stylesheet" href="css/cardday2.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--<nav>
      <div class="nav-left">
        <ul>
          <img src="img/logobarca.png" alt="logo" />
          <li>
            <a href="./index.html">Home</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </div>

      <div class="nav-right">
        <a href="./contact-me.html">Contact Me</a>
      </div>
    </nav>-->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="/">
          <img src="img/logo (1).png" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/addproject"
                >Add Project</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonials">Testimonials</a>
            </li>
          </ul>
          <a
            class="btn btn-primary btn-dark me-5"
            href="/contactme"
            role="button"
            >Contact Me</a
          >
        </div>
      </div>
    </nav>

    <div class="homepage">
      <img class="img" src="img/okeoke.jpeg" alt="img" />
      <h1>Welcome To My Hut</h1>
      <p>
        Halo teman-teman, nama saya Muhammad Fadli Widiawan<br />
        atau biasa dipanggil Fadli. Saya lulusan SMA Negeri 6 Kota Bekasi. Saya
        masuk ke kelas ini karena ingin memperdalam ilmu di bidang it. Sebelum
        nya saya belum mengenali bidang ini karena rasa penasaran yang menjadi
        rasa ketertarikan setelah melihat beberapa reverensi belajar di youtube.
        Berharap saya bisa mengikuti kelas ini dengan lancar. oh iyaa kalau mau
        lebih kenal saya lewat sosial media sudah saya cantumkan dibawah yaa.
      </p>

      <div class="kontak">
        <a href="">Contact</a>
        <a href="">Download Cv</a>
      </div>

      <div class="teks">
        <h2>Muhammad Fadli Widiawan</h2>
        <h3>Fullstack Developer</h3>
      </div>

      <div class="contact-icons">
        <div class="instagram">
          <a href="#"
            ><img src="img/logooo-removebg-preview.png" alt="Instagram"
          /></a>
        </div>
        <a href="tw"
          ><img src="img/twitter-removebg-preview.png" alt="Twitter"
        /></a>
        <a href="#"><img src="img/linkedin logo.avif" alt="" /></a>
        <a href="#"
          ><img src="img/youtube-logo-removebg-preview.png" alt="YouTube"
        /></a>
      </div>
    </div>
    <div>
      <p></p>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
