<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/testi.css" />
    <link rel="stylesheet" href="css/burger.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--<nav>
      <div class="nav-left">
        <ul>
          <img
            style="height: 50px; width: 50px"
            src="img/logobarca.png"
            alt=""
          />
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="add-blog.html">My project</a>
          </li>
          <li>
            <a href="testimonial.html">Testimonial</a>
          </li>
        </ul>
      </div>

      <div class="nav-right">
        <a href="https://wa.me/628994381685">Contact Me</a>
      </div>
      <div class="barsmenu" id="barsmenu">
        <button class="humberger-button" onclick="openhumberger">
          <i class="fa-solid fa-bars fa-xl"></i>
        </button>
      </div>
    </nav>-->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="/">
          <img src="img/logo (1).png" alt="Logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="add-blog.html">Add Project</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="testimonial.html"
                >Testimonials</a
              >
            </li>
          </ul>
          <a
            class="btn btn-primary btn-dark me-5"
            href="https://wa.me/628994381685"
            role="button"
            >Contact Me</a
          >
        </div>
      </div>
    </nav>

    <div class="humberger-nav-container" id="humberger-nav-container">
      <a href="index.html">Home</a>
      <a href="add-blog.html">My Project</a>
      <a href="contact-me.html">Contact Me</a>
    </div>

    <div class="container">
      <div class="rating-container">
        <h2>My Testimonials</h2>
        <h3>Rating by Start</h3>
        <div class="rating">
          <button class="rating-btn" onclick="testimonial()">All</button>
          <button class="rating-btn" onclick="filterTestimonial(1)">
            1
            <i class="fa-solid fa-star" style="color: #ffffff"></i>
          </button>
          <button class="rating-btn" onclick="filterTestimonial(2)">
            2
            <i class="fa-solid fa-star" style="color: #ffffff"></i>
          </button>
          <button class="rating-btn" onclick="filterTestimonial(3)">
            3
            <i class="fa-solid fa-star" style="color: #ffffff"></i>
          </button>
          <button class="rating-btn" onclick="filterTestimonial(4)">
            4
            <i class="fa-solid fa-star" style="color: #ffffff"></i>
          </button>
          <button class="rating-btn" onclick="filterTestimonial(5)">
            5
            <i class="fa-solid fa-star" style="color: #ffffff"></i>
          </button>
        </div>
      </div>
      <section class="testimonials" id="testimonials">
        <!-- <div class="testimonial">
              <img src=${item.image} class="profile-testimonial" />
              <p class="quote">${item.comment}</p>
              <p class="author">- ${item.name}</p>
            </div> -->
      </section>
    </div>
    <script src="js/testi.js"></script>
    <script src="js/testi-async-ajax.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
